# change the file name .env.example to .env
GOOGLE_API_KEY=YOUR_KEY_HERE
GOOGLE_MODEL=gemini-2.5-flash

SOURCE_DOC_DIR=./pdfs
IMAGE_DIR=./images
FAISS_INDEX_DIR=./faiss_index

TOP_K=3
AGENT_NAME=rag_agent
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8000
ORG_NAME=Learning Bot RAG
DISABLE_AUTH=true